<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Resultados</title>
    <link rel="stylesheet" href="../static/css/style_resultados.css" />
  </head>

  <br />
  <br />
  <br />
  <h1>Resultados de la busqueda</h1>
  <br />
  <img
    src="static\lfw\lfw\Aaron_Eckhart\Aaron_Eckhart_0001.jpg"
    width="500"
    height="600"
  />
  <div class="table-wrapper">
    <table class="fl-table">
      <thead></thead>
      <tbody>
        <ul class="list-group">
          {% for path in mensaje %}
          <tr>
            <img src="{{path}}" width="500" height="600" />
          </tr>
          {% endfor %}
        </ul>
      </tbody>
      <tbody></tbody>
    </table>
  </div>
</html>
